.footerContainer {
  position: relative;
  width: 100%;
}

@media (--s) {
  .footerContainer {
    padding-bottom: calc(var(--static-space-80) + env(safe-area-inset-bottom, 0px));
  }

  .mobile {
    text-align: center;
    flex-direction: column;
    align-items: center;
  }
}